<li class="<%= "active" if controller_name == "blogs" %>">
  <%= link_to "トップページ", root_path %>
</li>

<% if user_signed_in? %>
  <li class="<%= "active" if current_page?(edit_user_registration_path) %>">
    <%= link_to "プロフィール編集", edit_user_registration_path %>
  </li>
  <li>
    <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
  </li>
<% else %>
  <li class="<%= "active" if current_page?(new_user_session_path) %>">
    <%= link_to "ログイン", new_user_session_path %>
  </li>
  <li class="<%= "active" if current_page?(new_user_registration_path) %>">
    <%= link_to "新規登録", new_user_registration_path %>
  </li>
<% end %>